<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h1>{{title}} </h1>
    </div>

    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='userDocument'>
                <!--Cabezal de la tabla -->
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Clase de estilo</th>
                        <th>Tipo</th>
                        <th></th>
                    </tr>
                </thead>
                <!--Cuerpo de la tabla-->
                <tbody>
                    <tr *ngIf='userDocument.DocumentMargins'>
                        <td>{{getFooter.Id}}</td>
                        <td>{{getFooter.OwnStyleClass}}</td>
                        <td>{{getFooter.Align}}</td>
                        <td>
                            <button class='btn btn-primary' [routerLink]="['/text-main-footer', (documentId), (getFooter.Id) ]">Ver textos</button>
                            <button class='btn btn-warning' [routerLink]="['/footer-mod', (documentId), (getFooter.Id) ]">Modificar</button>
                            <button class='btn btn-danger' (click)="deleteFooter([(getFooter.Id)])">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class='btn btn-success' [routerLink]="['/footer-form', (documentId)]"> Agregar </button>
            <button class="btn"type="button" [routerLink]="['/document-detail', (documentId) ]"> Cancel </button>
        </div>
    </div>
</div>