<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h1>{{pageTitle}}</h1>
    </div>
    <form name="addStyle">
        <div class="form-group">
            <label name="name">Nombre</label>
            <input class="form-control" type="text" name="name" requried [(ngModel)]="styleClass.Name">
        </div>
        <div class="form-group">
            <label name="styles">Estilos</label>
            <div class='panel-body'>
                <div class='table-responsive'>
                    <table class='table' *ngIf='styles && styles.length'>
                        <!--Cabezal de la tabla -->
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Valor</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <!--Cuerpo de la tabla-->
                        <tbody>
                            <tr *ngFor='let style of styles'>
                                <td>{{style.Name}}</td>
                                <td>{{style.Type}}</td>
                                <td>{{style.Value}}</td>
                                <td>
                                    <button type="button" class="btn btn-success" (click)="addStyle(style)" > Agregar </button>
                                    <button type="button" class="btn btn-success" (click)="deleteStyle(style)" > Borrar </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <button class="btn" type="button" [routerLink]="['/styleClass-main']"> Volver </button>
        </div>
    </form>
</div>