<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h1>{{title}} </h1>
    </div>

    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='documents && documents.length'>
                <!--Cabezal de la tabla -->
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Fecha de creacion</th>
                        <th>Fecha ultima modificacion</th>
                        <th>Usuario creador</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <!--Cuerpo de la tabla-->
                <tbody>
                    <tr *ngFor='let aDocument of documents'>
                        <td>{{aDocument.Title}}</td>
                        <td>{{aDocument.CreationDate}}</td>
                        <td>{{aDocument.LastModifyDate}}</td>
                        <td>{{aDocument.CreatorUser.Username}}</td>
                        <th>{{aDocument.DocumentParagraphs}}</th>
                        <th><button class='btn btn-primary' [routerLink]="['/document-detail', (aDocument.Id) ]"> Ver documento </button></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>