<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h1>{{title}} </h1>
    </div>

    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='users && users.length'>
                <!--Cabezal de la tabla -->
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Username</th>
                        <th>Mail</th>
                        <th>Es Admin</th>
                    </tr>
                </thead>
                <!--Cuerpo de la tabla-->
                <tbody>
                    <tr *ngFor='let aUser of users'>
                        <td>{{aUser.Name}}</td>
                        <td>{{aUser.LastName}}</td>
                        <td>{{aUser.Username}}</td>
                        <td>{{aUser.Mail}}</td>
                        <td>{{aUser.IsAdmin}}</td>
                    </tr>
                </tbody>
            </table>
            <button class='btn btn-primary' [routerLink]="['/user-form']"> Agregar </button>
        </div>
    </div>
</div>