<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h1>{{pageTitle}}</h1>
    </div>
    <form name="modFooter">
        <div class="form-group">
            <label name="title">Clase de estilo</label>
            <input class="form-control" type="text" name="styleClass" requried [(ngModel)]="margin.OwnStyleClass">
        </div>
        <div>
            <button class="btn btn-success" type="button" (click)="modFooter()" [routerLink]="['/footer-main', (documentId) ]"> Aceptar </button>
            <button class="btn" type="button" [routerLink]="['/footer-main', (documentId) ]"> Cancelar </button>
        </div>
    </form>
</div>